	  body {
		font-family: 'Lato', sans-serif;
		overflow: hidden
	  }
	  
	  .background {
	    width: 100%;
	    height: 100%;
	    position: absolute;
		z-index: -1;
	    top: 0px;
	    left: 0px;
	    background: url("background.jpg");
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	  }
	
	  .faqs {
	    position: absolute;
	    margin-left: 350px;
		margin-top: 200px;
		text-shadow: 9px 9px 8px #1a1a1a;
		text-decoration: none;
		font-size: 145px;
		font-family: "Arial Black", Gadget, sans-serif;
		color: white;
	  }  
	  
	  span.nav {
	    margin-left: 13px;
		color: white;
		text-shadow: 9px 9px 8px black;
	  }
	  
	  .download {
	    width: 80px;
		height: 80px;
		margin-top: 525px;
		margin-left: 915px;
	  }
	  
	  .download:hover {
	    transform: scale(1.3);
	  }
	  
	  .discord:hover {
	    transform: scale(1.2);
	  }
	  
	  .github:hover {
	    transform: scale(1.2);
	  }
	  
	  div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 25px;
      }
	  
	  .page2 {
	    float: center;
		margin-top: 267px;
	  }
	  
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}